@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #111111;
    background: url("../img/background.png");
    animation: animate-bg 8s infinite linear;
}

@keyframes animate-bg {
    100% {
        background-position: 64px 64px;
    }
}


/* Header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    height: 10vh;
    padding: 0 2vw;
}

header article img {
    height: 8vh;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 2vh;
    font-weight: bold;
    padding: 1vh 0.75vw;
}

header a:hover {
    color: #ffcc00;
}

/* Header TABLET */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 10vh;
        padding: 0 2vw;
    }

    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    header nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4vh;
    }

    header nav i {
        font-size: 2.8vh;
        margin-bottom: 0.5vh;
    }
}

/* Header PHONE */
@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 15vh;
        padding: 0 2vw;
    }

    header article img {
        height: 7vh;
    }

    header nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    header nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2vh;
        min-width: 15vw;
    }

    header nav i {
        font-size: 2.4vh;
        margin-bottom: 0.5vh;
    }
}

/* Main (articles/sections/figures) */
main {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 7.5vw 15px 7.5vw;
}

main section {
    width: 100%;
    padding: 1vw;
    box-sizing: border-box;
}

main figure {
    width: 100%;
    padding: 1vw;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    width: 100%;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    background-color: rgba(233, 233, 233, 0.75);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Main PHONE */
@media (max-width: 480px) {
    main article {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 5vw 15px 5vw;
    }

    main .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main img {
        width: 50%;
        margin: 0;
    }
}

/* Font/link */
main {
    font-size: 1rem;
}

main h1 {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 2.5rem;
    text-align: left;
    width: 80vw;
    box-sizing: border-box;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

main h2 {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

/* Buttons */
main a {
    text-decoration: none;
    color: #005f99;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #005f99;
    color: white;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
}

button i {
    margin-left: 10px;
}

button:hover {
    background-color: #003f66;
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: #ffcc00;
}

button:active {
    transform: translateY(0);
    box-shadow: 0;
}

/* Font MOBILE/TABLET */
@media (max-width: 768px) {
    main {
        font-size: 0.8rem;
    }
    
    main h1 {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 2rem;
        text-align: center;
        width: 95vw;
        box-sizing: border-box;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
    
    main h2 {
        font-family: "Roboto", Arial, sans-serif;
        font-weight: 800;
        font-size: 1.2rem;
    }

    button {
        padding: 7.5px 15px;
        font-size: 0.75rem;
    }
}

/* Lists */
ul {
    padding-inline-start: 30px;
}

.ul-spaced li {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* Tables */
main table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

main table tr:nth-child(even) {
    background-color: #f9f9f9;
}

main table tr:nth-child(odd) {
    background-color: #ffffff;
}

main table tbody td {
    padding: 10px;
    border: 1px solid #dddddd;
}

main table tr td,
table tr th {
    border: 1px solid #dddddd;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    font-size: 1.5vh;
    height: 5vh;
    padding: 0 2vw;
}

footer article {
    display: flex;
    align-items: center;
}

footer p {
    color: white;
    text-align: right;
}

footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0 0.75vw;
    font-size: 3.5vh;
}

footer a:hover {
    color: #ffcc00;
}

@media (max-width: 360px) {
    footer p {
        display: none;
    }

    footer {
        justify-content: center;
    }

    footer a {
        padding: 0 3vw;
    }
}

.flex1 {
    flex: 1;
}


/* Homepage */
#home-text {
    flex: 2.5;
}


/* Beroep page */
.beroep-text {
    flex: 3;
}


/* Opleiding page */
.opleiding-container {
    background-color: rgba(233, 233, 233, 0.5);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    flex: 1;
    margin: 2vw;
}

.opleiding-button {
    display: flex;
    justify-content: flex-end;
}


/* Modules page */
#modules article {
    display: flex;
    flex-wrap: wrap;
}

#modules h1 {
    text-align: center;
}

#modules h2 {
    text-align: center;
}

.modules-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 20%;
    min-width: 280px;
    margin: 15px 5px;
    box-sizing: border-box;
    background-color: rgba(233, 233, 233, 0.5);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.modules-text {
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
}

.modules-button {
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

/* Module engels page */
.module-engels-lowerimg {
    flex: 1;
    margin: 5px;
}


/* Module begeleiding page */
#module-begeleiding-text {
    flex: 2.5;
}


/* Module UI/UX page */
#module-UIUX-text {
    flex: 3;
}


/* Module GIT page */
#module-GIT-text {
    flex: 3.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#module-GIT-text .container {
    margin: 5px 0;
}


/* Module prototyping page */
#module-prototyping-text {
    flex: 3.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#module-prototyping-text .container {
    margin: 5px 0;
}


/* Module rekenen page */
#module-rekenen-img {
    width: 50vw;
}