body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    color: #ffffff;
    height: 10vh;
    padding: 0 2vw;
} 

header article img {
    height: 8vh;
}

header a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 0 0.75vw;
}

header a:hover {
    color: #ffcc00;
}

/* Main (articles/sections/figures) */

main {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main article {
    display: flex;
    width: 100%;
    padding: 10px 7.5vw;
    box-sizing: border-box;
}

main section {
    width: 100%;
    padding: 1vw;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

main figure {
    width: 100%;
    padding: 1vw;
    margin: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

main img {
    width: 100%;
}

/* Font/link */
main {
    font-size: 1rem;
}

main h1 {
    font-size: 2.5rem;
    text-align: left;
    width: 100vw;
    padding: 0 10vw;
    box-sizing: border-box;
}

main h2 {
    font-size: 1.5rem;
}

main a {
    text-decoration: none;
    color: #005f99;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}

/* Tables */
main table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

main table tr:nth-child(even) {
    background-color: #f9f9f9;
}

main table tr:nth-child(odd) {
    background-color: #ffffff;
}

main table tbody td {
    padding: 10px;
    border: 1px solid #dddddd;
}

main table tr td,
table tr th {
    border: 1px solid #dddddd;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    font-size: 1.5vh;
    height: 5vh;
    padding: 0 2vw;
}

footer article {
    display: flex;
    align-items: center;
}

footer p {
    color: white;
    text-align: right;
}

footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0 1vh;
    font-size: 3.5vh;
}

footer a:hover {
    color: #ffcc00;
}

/* Homepage */
.home-sideimg {
    flex: 1;
}

.home-text {
    flex: 2.5;
}

/* Beroep page */
.beroep-text {
    flex: 3;
}

.beroep-sideimg {
    flex: 1;
}

/* Opleiding page */
#opleiding article {
    padding: 0 10vw;
}

.opleiding-panel {
    flex: 1;
    margin: 25px;
}

/* Module engels page */
.module-engels-lowerimg {
    flex: 1;
}

/* Module begeleiding page */
.module-begeleiding-text {
    flex: 2.5;
}

.module-begeleiding-sideimg {
    flex: 1;
}

/* Module UI/UX page */
.module-UIUX-text {
    flex: 3;
}

.module-UIUX-img {
    flex: 1;
}